---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.inner {
  max-width: 75%;
}

.profile {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.side_profile {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media only screen and (max-width: 768px) {
	.side_profile {
	  width: 100%;
	  max-width: 300px;
	  height: auto;
	  display: flex;
  	  flex-wrap: wrap;
      align-content: left;
	}
  .circle-crop {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
  }

  .circle-crop img {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }  
}

.circle-crop {
  width: 100%;
  max-width: 300px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}

.circle-crop img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.no_marker {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0px;
}



